version: "3.9"

services:
  redis:
    image: redis:7
    container_name: redis
    restart: always
    ports:
      - "6379:6379"
    volumes:
      - redis_data:/data
    networks:
      - app-networks
  
  postgres:
    image: postgres:16
    container_name: postgres
    restart: always
    environment:
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: ${POSTGRES_DB}
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
    networks:
      - app-networks

  api:
    build: .
    container_name: api
    env_file:
      - .env
    depends_on:
      - redis
      - postgres
    volumes:
      - .:/app
    ports:
      - "8000:8000"
    networks:
      - app-networks
      
networks:
  app-networks:
    driver: bridge

volumes:
  postgres_data:
  redis_data:

  
